.cartForm {
  display: flex;
  flex-direction: column;

  max-height: 370px;

  box-shadow: rgba(78, 63, 164, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 8px;

  border-top: none;


  .cartBtn{
    margin-top: 10px;
  }
}

