.cartItem{
  margin-bottom: 20px;

  padding: 5px;

  display: flex;
  align-items: center;

  background-color: antiquewhite;

  border-bottom: 2px solid #9eacad;

  transition: all .3s ease;

  position: relative;


  &:hover{
    background-color: gainsboro;
  }


img{
  width: 80px;
  height: 80px;

  object-fit: cover;
}

  .cartText{
    margin: 0 25px 0 5px;

    .price{
      color:red;
    }
  }
.btnBlock{
  span{
    margin: 0 10px;
  }
}
  .deleteItemBtn{
    position: absolute;
    top: 0;
    right: 0;
  }
}