.wrapper {
  transition: all .3s ease;

  position: relative;

  &:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .content {
    text-align: center;

    .name{

    }
    .price{
      color:red;
      font-weight: 500;
    }
    .cardBtn {
      justify-content: center;

    }
  }
  .freeCard{
    position: absolute;

    top: 0;
    right: 50%;

    transform: translateX(50%);
  }
}
